extends layout

block content
  .container
    form.form-signin(action='/signin', method='POST')
      label(for='email', class='sr-only') Email address
      input(
        type='email', id='email', name='email', class='form-control', 
        placeholder='Email address', required, autofocus
      )
      label(for='password', class='sr-only') Password
      input(
        type='password', id='password', name='password', class='form-control', 
        placeholder='Password', required, autofocus
      )
      button.btn.btn-lg.btn-info.btn-block(type='submit') Login
      | 
      a.btn.btn-primary.btn-lg.btn-block(href='/auth/facebook')
        i.fa.fa-facebook.fa-lg
        | &nbsp; &nbsp;Signin with Facebook
      hr
      a.btn.btn-default.btn-mini(href='/users/new') New User

      
