extends ../layout

block content
  h1 설문조사 목록
  
  table.table
    tr
      th Survey List
      th User
      th Question of Number
      th Data
    each post in posts
      tr
        td
          a(href='/posts/#{post.id}')= post.title
        td= post.email
        td= post.numComment
        td= moment(post.createdAt).format('YYYY/MM/DD')

  a.btn.btn-info(href='/posts/new') 설문조사 작성
